.jobCard {
  width: 80%;
  background: lightgray;
  border: 2px solid #818282;
  padding-left: 15px;
  margin: 0 0 30px 20px;
}

.jobLink {
  text-decoration: none;
  color: black;
}

.instructions {
  margin: -20px 0 30px 0;
}

.jobTitle {
  margin-bottom: 0;
}

.companyInfo {
  margin: 0
}

.boardContainer {
  margin-bottom: 60px
}