.oppBoardBanner {
  height: auto;
  margin: -8rem -2.5rem 0;
  padding: 8rem 2.5rem 0;
  background-color: #FFF0B0;
  border-bottom: .2rem solid #F4BD5B;
}

.oppList {
  margin-bottom: 8rem;
}

.searchForm {
  position: relative;
  margin: 3.5rem 1rem 2rem;
}

.oppSearch[type=text] {
  width: 100%;
  height: 3.5rem;
  font-size: 1.7rem;
  padding-left: 1rem;
  color: black;
  padding-bottom: .2em;
  background-color: white;
  }

.searchButton {
  width: 4rem;
  height: 3.5rem;
  border-radius: 0;
  position: absolute;
  z-index: 1;
  right: 0;
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  background-image: url('/assets/mag-glass.svg');
}

.searchButton:hover {
  background-color: #F0667B
}

.boardInstructions {
  text-align: center;
}

.opportunityCard {
  width: 100%;
  margin-top: 3.5rem;
}

.oppCardLink {
  background-color: #FFF0B0;
  border-top: .2rem solid #F4BD5B;
  border-bottom: .2rem solid #F4BD5B;
  padding: 1rem;
  width: 100%;
  display: block;
  transition: all 0.5s;
}

.oppCardLink:hover {
  background-color: #F4BD5B
}

.opportunityTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.7rem;
  margin: .2rem 0 .7rem;
}

.oppCardLink {
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
}

.orgInfo, .opportunityDescription {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .oppBoardBanner{
    margin-right: calc(42rem - 49vw);
    margin-left: calc(42rem - 49vw);
    padding-left: calc(49vw - 27rem);
    padding-right: calc(49vw - 27rem);
  }

  .searchForm {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .boardInstructions {
    padding: 0 10rem;
  }

  .oppList {
    margin-top: 5rem;
  }
}