.opportunityCard {
  width: 80%;
  background: lightgray;
  border: 2px solid #818282;
  margin: 0 0 30px 20px;
  position: relative;
}

.opportunityCard {
  list-style-type: none;
}

.oppList {
  margin: 0;
  padding: 0;
}

.oppCardLink {
  text-decoration: none;
  color: black;
  /* position:absolute;
  left:0; top:0; bottom:0; right:0; */
}

.instructions {
  margin: -20px 0 30px 0;
}

.opportunityTitle {
  margin-bottom: 0;
  margin-top: 0;
}

.orgInfo {
  margin: 0
}

.boardContainer {
  margin-bottom: 60px
}

.opportunityContainer {
  padding: 20px 0 20px 15px;
}

.opportunityPosted {
  margin-bottom: 0;
}