.detailsHeader {
margin-right: 25rem;
margin-bottom: 3rem;
}

.detailsBanner {
  position: relative;
  height: 24rem;

}

.detailsInstructions {
  margin: 0 20rem 0 0;
}

.orgTitle {
  font-weight: 500
}

.detailsImage {
  width: 17rem;
  position: absolute;
  right: 1rem;
  top: 2rem;
}

.detailsContainer {
  background-color: #FFF0B0;
  padding: 2rem 2rem 1rem;
  width: auto;
  font-size: 1.4rem;
  margin-bottom: -6rem;
  padding-bottom: 5rem;
}

.detailsSection {
  position: relative;
  margin: 0 -2.5rem;
}

.detailsTitle {
  font-size: 2.2rem;
  margin: 0 0 1rem;
}

.opportunityInfo {
  margin-bottom: 1.3rem;
}

.volunteerLink {
  text-decoration: none;
  color: white;
}

.volunteerButton {
  width: auto;
  display: inline-block;
  height: 3.6rem;
  cursor: pointer;
  background-color: #F0667B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 1.4rem;
  padding: .7rem 2rem 0;
  transition: all 0.3s;
  margin-bottom: 2rem;
}

.volunteerButton:hover {
  color: black;
  background-color: #F4BD5B;
}

.opportunityDescription {
  margin-top: 1rem;
}


@media only screen and (max-width: 360px) {
  .detailsInstructions {
    margin: 0 15rem 0 0;
  }

  .detailsImage {
    right: 0
  }
}

@media only screen and (min-width: 1024px) {
  .detailsBanner {
    margin-right: 20rem;
    margin-left: 20rem;
    margin-bottom: 5rem;
  }
  
  .detailsHeader {
    margin-bottom: 4rem;
    line-height: 6rem;
  }

  .detailsImage {
    width: 22rem;
  }

  .detailsInstructions {
    margin-right: 26rem;
  }

  .detailsSection {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .detailsContainer {
    border-top: .2rem solid #F4BD5B;
    border-bottom: .2rem solid #F4BD5B;
    margin-bottom: 7rem;
    padding-bottom: 0;
  }
  
  .descriptionContainer {
    margin-left: 0;
    margin-right: 0;
  }
}

