.errorToast {
  position: fixed;
  top: 40vh;
  height: 6rem;
  right: calc(50vw - 30rem);
  min-width: 60rem;
  border: .1rem solid gray;
  padding: 1rem;
  box-shadow: 1rem 1rem .5rem grey;
  background-image: url('/assets/alert.svg');
  background-repeat: no-repeat;
  background-size: 6rem;
  background-position: left;
  padding-left: 8rem;
  z-index: 998;
  background-color: white;
}

.toastButton {
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  font-weight: 300;
  font-size: 3rem;
  background-color: white;
}

.toastButton:hover {
  background-color: white;
  color: #F0667B;
}

.hiddenToast {
  display: none;
}