.navBar {
  background: #FFEEA6;
  width: 100%;
  position: fixed;
  height: 6rem;
  z-index: 999;
}

.logoLink {
  height: 100%;
  display: inline-block;
}

.mainLogo {
  width: 3.2rem;
  display: inline-block;
  margin-left: 2rem;
  vertical-align: -.8rem;
}

.navName {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 3.2rem;
  display: inline-block;
  letter-spacing: -.1rem;
  margin-left: .7rem;
  font-style: none;
  color: black;
  padding-right: 1rem;
}

