.mainLogo {
  width: 25px;
  display: inline-block;
  margin-left: 20px
}

.navName {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: auto;
  display: inline-block;
  letter-spacing: -1px;
  margin: 10px 10px 10px;
  vertical-align: 7px;
  font-style: none;
  color: black;
}

.navContainer {
  background: lightgray;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid #818282;
  z-index: 999;
}

.navLinks{
position: absolute;
right: 25px;
top: 18px;
font-weight: 700;
}

.linkBullet {
  margin: 0 8px 0 8px;
  font-size: 1.5em;
  vertical-align: -3px
}



@media screen and (max-width: 620px) {
  .navLinks {
    top: 50px;
    position: static;
    margin-left: 20px;
  }
}
